//Emerald Typography 
$primary-fontcolor: #73AD21;
$primary-border: 2px solid #849868;
$tabletWidth: 200px;

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'WeblySleek UI';
    background-color: white;
}

.title h1,
.title h2,
.title h3,
.title h4,
.title h5,
{
    text-align: center;
    color: black;
}

p.subheader {
    text-align: center;
    font-size: 18px;
}

h1,h2,h3,h4 {
    text-align: center;
}

button.ng-binding.ng-scope {
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    background: white;
    border: 2px solid #849868;
    height: auto;
    font-size: 15px;
    font-weight: 200;
    color: #849868;
    padding-left: 20px;
    padding-right: 20px;
    width: 400px
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.container-fluid.custom {
    max-width: 50%;
}

.col-xs-12.col-md-12.col-lg-12.td-custom {
    float: none;
    margin: auto;
    width: 60%;
    text-align: center;
}


/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 0px) and (max-width: 320px) {
    .title h1,
    .title h2,
    .title h3,
    .title h4,
    {
        text-align: center;
        color: black;
    }
    button.ng-binding.ng-scope {
        margin: 10px;
        padding: 10px;
        border-radius: 3px;
        background: white;
        border: 2px solid #849868;
        height: auto;
        font-size: 15px;
        font-weight: 200;
        color: #849868;
        padding-left: 20px;
        padding-right: 20px;
        width: 400px;
    }
}


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .title h1,
    .title h2,
    .title h3,
    .title h4,
    {
        text-align: center;
        color: black;
    }
    button.ng-binding.ng-scope {
        margin: 10px;
        padding: 10px;
        border-radius: 3px;
        background: white;
        border: 2px solid #849868;
        height: auto;
        font-size: 15px;
        font-weight: 200;
        color: #849868;
        padding-left: 20px;
        padding-right: 20px;
        width: 200px;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) and (max-width: 768px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) and (max-width: 992px) {
    button.ng-binding.ng-scope {
        margin: 10px;
        padding: 10px;
        border-radius: 3px;
        background: white;
        border: 2px solid #849868;
        height: auto;
        font-size: 15px;
        font-weight: 200;
        color: #849868;
        padding-left: 20px;
        padding-right: 20px;
        width: $tabletWidth;
    }
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) and (max-width: 1200px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) and (max-width: 1400px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1440px) and (max-width: 1920px) {
    .col-xs-12.col-md-12.col-lg-12.td-custom {
        width: 80%;
    }
}
