<div class="test02">
	<div class="ngdialog ngdialog-theme-default col-xs-12 col-sm-8 col-md-6 col-lg-6">

		<div role="alert" uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>

	    <form class="future-banking" role="form">

			<section class="container-fluid header" role="menu bar">
		    	<div class="row" role="row">
		    		<div class="col-xs-12 col-sm-12 col-md-6">
		        		<i class="fa fa-credit-card fa-2x"></i>
		        		<p class="title">Send Transfer</p>
		        	</div>
		        	<div class="col-xs-12 col-sm-12 col-md-6">
		        		<div class="btn-group" role="group">
			        		<button class="btn btn-default" role="account button">
			        			<img class role="banner"="profile-img">
			        			<span id="user-name">John Smith</span>
			        		</button>
			        		<button class="btn btn-default" role="signout button">
			        			Sign out
								<i class="fa fa-sign-out fa-lg"></i>
			        		</button>
		        		</div>
		        	</div>
		        </div>
		        <div class="row">
		        	<div class="col-xs-12">
		        		<hr/>
		        	</div>
		        </div>
	        </section>

	        <section class="container-fluid" id="account-info" role="banner">
				<div class="col-xs-12">
			        <div class="row">
			        	<div class="col-xs-12">

			        		<div role="heading" aria-level="4">From</div>

			        		<div class="row bg-gray">
			        			<div class="col-xs-6" aria-describedby="account-name">Account Name:</div>
			        			<div class="col-xs-6" id="account-name">Checking</div>
			        		</div>
			        		<div class="row bg-gray">
			        			<div class="col-xs-6" aria-describedby="account-number">Account Number:</div>
			        			<div class="col-xs-6" id="account-number">123456789</div>
			        		</div>
			        		<div class="row bg-gray">
			        			<div class="col-xs-6" aria-describedby="account-balance">Current Balance:</div>
			        			<div class="col-xs-6" id="account-balance">{{5000 | currency }}</div>
			        		</div>

			        		<hr/>

			        	</div>
			        </div>
		        </div>
	        </section>

	        <section class="container-fluid" id="transfer-details" role="transfer-details">
				<div class="col-xs-12">
			        <div class="row">
			        	<div class="col-xs-12">

			        		<div role="heading" aria-level="4">Transfer details</div>

			        		<div class="row bg-gray">
			        			<div class="col-xs-6">
			        				<label id="transfer-amount" for="Amount to transfer"><Amount to transfer</label>
			        			</div>
			        			<div class="col-xs-6">
				        			<input class="form-control" type="text" id="transfer-amount-input" value="{{300 | currency}}" title="Amount to transfer" required aria-required="true">
			        			</div>
			        		</div>
			        		<div class="row bg-gray">
			        			<div class="col-xs-6">
			        				<label id="transfer-frequency" for="Frequency">Frequency:</label>
			        			</div>
			        			<div class="col-xs-6">
			        				<select class="form-control" id="transfer-frequency-select" title="Transfer frequency" role="form">
									  <option role="option"><label for="Every day">Every day</label></option>
									  <option role="option"><label for="Weekly">Weekly</label></option>
									  <option role="option"><label for="Weekly">Bi-weekly</label></option>
									  <option role="option"><label for="Weekly">Monthly</label></option>
									</select>
			        			</div>
			        		</div>

			        		<hr/>

			        	</div>
			        </div>
		        </div>
	        </section>

	        <section class="container-fluid" id="send-to-recipient">
				<div class="col-xs-12">
			        <div class="row">
			        	<div class="col-xs-12">
			        		<div role="heading" aria-level="4">Send to</div>

			        		<div class="row ">
			        			<div class="col-xs-8">
			        				<img class="profile-img" role="image">
			        				<h3 id="recipient">Jane Smith</h3>
			        			</div>
			        			<div class="col-xs-4">
				        			<a href="" class="change-user-link" aria-label="Click to change recipeints" role="link">Change recipient</a>
			        			</div>
			        		</div>

			        		<hr/>

							<button type="button" class="btn btn-primary btn-send" ng-click="addAlert()" role="button">Send {{300 | currency}}</button>

			        	</div>
			        </div>
		        </div>
	        </section>

	    </form>
	</div>
</div>
