// #Main colors

$primary-theme: #333;
$primary-color: #333;
$primary-background: #333;


$secondary-color: #3333;
$secondary-theme: #4444;
$secondary-background: #4444;


$color-shadow:rgba($black, .125)
$color-primary:$hopbush
$color-accent:$patina
$color-background:$white
$color-background-shade	:$iron
$color-background-invert	:$hopbush
$color-text	: darken($pale-sky, 15)
$color-text-weak	:$regent-grey
$color-text-strong	:$midnight-blue
$color-text-heading	:$regent-grey
$color-text-invert	:rgba($color-background, .75)
$color-text-strong-invert	:$color-background
$color-text-link	:$color-primary
$color-text-link-visited	:$bouquet
$color-text-link-hover	$midnight-blue
$color-border	$iron
